# Webmap tile dirs
pages/media/webmaps/carpathians/western_carpathians_60m_ex1_tiles
pages/media/webmaps/carpathians/western_carpathians_300m_tiles
pages/media/webmaps/georgia_west_mims_fire/newTiles
pages/media/webmaps/georgia_west_mims_fire/oldTiles
pages/media/webmaps/mora_field_trip_2017/mora_nbr_rgb_z7-z14_tiles
pages/media/webmaps/mora_field_trip_2017/mora_tc_rgb_z7-z14_tiles
pages/media/webmaps/mora_field_trip_2017/photos
pages/data/download/request